* {
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  font-family: Tahoma; }
  body .container-full {
    margin: auto;
    padding: 0;
    max-width: 100%; }
    body .container-full .banner {
      max-width: 40%;
      float: left; }
      body .container-full .banner img {
        margin-top: -710px; }
    body .container-full .nav {
      max-width: 60%; }
      body .container-full .nav .log-in {
        margin: auto;
        float: right;
        width: 450px;
        height: 500px;
        border: 1px solid #dadce0;
        margin-top: 70px;
        border-radius: 10px; }
        body .container-full .nav .log-in .log-in__top {
          height: 37px;
          border-bottom: 1px solid #dadce0; }
          body .container-full .nav .log-in .log-in__top span {
            margin-left: 5px;
            line-height: 37px;
            color: #84878b;
            font-size: 15px; }
          body .container-full .nav .log-in .log-in__top img {
            margin-left: 20px;
            width: 18px; }
        body .container-full .nav .log-in .log-in__bottom {
          padding-top: 50px; }
          body .container-full .nav .log-in .log-in__bottom .form {
            padding-top: 25px; }
            body .container-full .nav .log-in .log-in__bottom .form .form-group {
              padding-left: 40px; }
              body .container-full .nav .log-in .log-in__bottom .form .form-group label {
                text-align: center;
                font-size: 15px; }
              body .container-full .nav .log-in .log-in__bottom .form .form-group .form-control {
                width: 360px;
                height: 50px; }
              body .container-full .nav .log-in .log-in__bottom .form .form-group .email {
                position: absolute;
                margin-top: -12px;
                padding-left: 10px; }
            body .container-full .nav .log-in .log-in__bottom .form button {
              margin-left: 180px;
              margin-top: 20px; }

@media (max-width: 575.98px) {
  .container-full .banner img {
    display: none !important; }
  .container-full .nav {
    max-width: 100% !important; }
    .container-full .nav .log-in {
      border: none !important;
      border-radius: 0px !important;
      margin-top: 0px !important; }
      .container-full .nav .log-in .log-in__bottom {
        padding-top: 50px; }
        .container-full .nav .log-in .log-in__bottom .form {
          padding-top: 25px; }
          .container-full .nav .log-in .log-in__bottom .form .form-group {
            padding-left: 10px !important; }
            .container-full .nav .log-in .log-in__bottom .form .form-group .form-control {
              width: 300px !important;
              height: 40px !important; }
            .container-full .nav .log-in .log-in__bottom .form .form-group a {
              font-size: 15px !important; }
          .container-full .nav .log-in .log-in__bottom .form button {
            margin-left: 90px !important;
            margin-top: 20px !important;
            width: 150px !important; } }
@media (min-width: 375px) and (max-width: 677px) {
  .container-full .banner img {
    padding-top: 365px !important;
    margin-left: -350px !important; }
  .container-full .nav {
    max-width: 100% !important; }
    .container-full .nav .log-in {
      border: none !important;
      border-radius: 0px !important;
      margin-top: 0px !important; }
      .container-full .nav .log-in .log-in__bottom {
        padding-top: 50px; }
        .container-full .nav .log-in .log-in__bottom .form {
          padding-top: 25px; }
          .container-full .nav .log-in .log-in__bottom .form .form-group {
            padding-left: 25px !important; }
            .container-full .nav .log-in .log-in__bottom .form .form-group .form-control {
              width: 320px !important;
              height: 50px !important;
              padding-left: 10px !important; }
            .container-full .nav .log-in .log-in__bottom .form .form-group a {
              font-size: 15px !important; }
          .container-full .nav .log-in .log-in__bottom .form button {
            margin-left: 90px !important;
            margin-top: 20px !important;
            width: 150px !important; } }
@media (min-width: 375px) and (max-width: 677px) {
  .container-full .banner img {
    padding-top: 365px !important;
    margin-left: -350px !important; }
  .container-full .nav {
    max-width: 100% !important; }
    .container-full .nav .log-in {
      border: none !important;
      border-radius: 0px !important;
      margin-top: 0px !important; }
      .container-full .nav .log-in .log-in__bottom {
        padding-top: 50px; }
        .container-full .nav .log-in .log-in__bottom .form {
          padding-top: 25px; }
          .container-full .nav .log-in .log-in__bottom .form .form-group {
            padding-left: 25px !important; }
            .container-full .nav .log-in .log-in__bottom .form .form-group .form-control {
              width: 360px !important;
              height: 50px !important;
              padding-left: 10px !important; }
            .container-full .nav .log-in .log-in__bottom .form .form-group a {
              font-size: 15px !important; }
          .container-full .nav .log-in .log-in__bottom .form button {
            margin-left: 120px !important;
            margin-top: 20px !important;
            width: 150px !important;
            height: 40px !important; } }
@media (min-width: 375px) and (max-width: 812px) {
  .container-full .nav {
    max-width: 100% !important; }
    .container-full .nav .log-in {
      border: none !important;
      border-radius: 0px !important;
      margin-top: 0px !important; }
      .container-full .nav .log-in .log-in__bottom {
        padding-top: 50px; }
        .container-full .nav .log-in .log-in__bottom .form {
          padding-top: 25px; }
          .container-full .nav .log-in .log-in__bottom .form .form-group {
            padding-left: 20px !important; }
            .container-full .nav .log-in .log-in__bottom .form .form-group .form-control {
              width: 330px !important;
              height: 50px !important; }
            .container-full .nav .log-in .log-in__bottom .form .form-group a {
              font-size: 15px !important; }
          .container-full .nav .log-in .log-in__bottom .form button {
            margin-left: 110px !important;
            margin-top: 20px !important;
            width: 150px !important; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .container-full .banner img {
    display: none !important; }
  .container-full .nav {
    max-width: 100% !important; }
    .container-full .nav .log-in {
      margin-top: 50px !important;
      margin-bottom: 50px !important; }
      .container-full .nav .log-in .log-in__top {
        height: 37px;
        border-bottom: 1px solid #dadce0; }
        .container-full .nav .log-in .log-in__top span {
          margin-left: 5px;
          line-height: 37px;
          color: #84878b;
          font-size: 15px; }
        .container-full .nav .log-in .log-in__top img {
          margin-left: 20px;
          width: 18px; }
      .container-full .nav .log-in .log-in__bottom {
        padding-top: 50px; }
        .container-full .nav .log-in .log-in__bottom .form {
          padding-top: 25px; }
          .container-full .nav .log-in .log-in__bottom .form .form-group {
            padding-left: 40px; }
            .container-full .nav .log-in .log-in__bottom .form .form-group label {
              text-align: center;
              font-size: 15px; }
            .container-full .nav .log-in .log-in__bottom .form .form-group .form-control {
              width: 360px;
              height: 50px; }
            .container-full .nav .log-in .log-in__bottom .form .form-group .email {
              position: absolute;
              margin-top: -12px;
              padding-left: 10px; }
          .container-full .nav .log-in .log-in__bottom .form button {
            margin-left: 180px;
            margin-top: 20px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .container-full {
    max-width: 1199.98px;
    min-width: 992px; }
    .container-full .banner img {
      padding-top: 365px !important;
      margin-left: -350px !important; }
    .container-full .log-in {
      margin-top: 200px !important; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container-full {
    max-width: 1199.98px;
    min-width: 992px; }
    .container-full .banner img {
      padding-top: 710px !important; }
    .container-full .log-in {
      margin-top: 350px !important; } }
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container-full {
    max-width: 1366px !important;
    min-width: 1024px !important; }
    .container-full .banner img {
      padding-top: 360px !important; }
    .container-full .log-in {
      margin-top: 200px !important;
      width: 550px !important;
      height: 600px !important;
      margin-left: 150px !important; }
      .container-full .log-in .log-in__top {
        height: 50px !important; }
        .container-full .log-in .log-in__top span {
          line-height: 50px !important; }
        .container-full .log-in .log-in__top img {
          margin-left: 20px;
          width: 18px; }
      .container-full .log-in .log-in__bottom {
        padding-top: 50px; }
        .container-full .log-in .log-in__bottom .form .form-group .form-control {
          width: 460px !important;
          line-height: 50px; }
        .container-full .log-in .log-in__bottom .form .form-group .email {
          position: absolute;
          margin-top: -12px;
          padding-left: 10px; }
        .container-full .log-in .log-in__bottom .form button {
          width: 200px;
          height: 50px;
          margin-left: 180px;
          margin-top: 30px; } }

/*# sourceMappingURL=style.css.map */
